body{
    background: #1E252B;
    background-size: cover;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.antools-img{
  padding: 0 250px;
}
ul{
  list-style-type: none;
}
.menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-text{
    color: rgba(255, 255, 255, 0.55);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sign-up-button{
    width: 118px;
height: 48px;
flex-shrink: 0;
border-radius: 8px;
background: #FF6E30;
border: inherit;
margin-right: 150px;
cursor: pointer;
}
.sign-button-text{
    color: #FDF5FF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 
}
.login{
    color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
transform: translateY(50px);
}

a{
    text-decoration: none;
}
h1{
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 70px; 
padding: 50px;
transform: translateX(-15%);

}
.subtitle{
    width: 487px;
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
padding-left: 55px;
padding-bottom: 50px;
transform: translateX(-32%);
}

.top-titles{
display: flex;
flex-direction: column;
}


.input-box { 
  transform: translateX( -28% );
    width: 497.659px;
height: 64px;
    max-width: 900px;
    background: #283036;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #FF6E30;;
    cursor: pointer;
    width: 130.435px;
height: 48px;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  /* Responsive */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
  }

.top{ 
 background: url(./imgs/illustration.png) no-repeat right;
}
  .top-info {
    position: relative;
   
    

}

.title-apps-imgs{
  padding: 70px;
  transform: translateX(-60%);
}
.tools-title{
  color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; 

}
.tool-subtitle{
  color: rgba(255, 255, 255, 0.55);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}
.tools-text{
  padding: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.tools-imgs{
  padding: 100px;
  display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;
  gap: 100px;
}
.tool-img{
width: 1224px;
height: 314px;
}
.tool-button{
  width: 184px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
cursor: pointer;
}
.tool-button-text{
  color: #FF6E30;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
.brands{
  width: 1224px;
height: 253px;
flex-shrink: 0;
}

.newcom{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

 .newcomer-titles{
  margin: 0;
 }

.newcomer-title{
  color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 62.4px */
margin: 0;
}
.newcomer-subtitle{
  color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
}
.newcomer-button{
  width: 198px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 8px;
background: #FF6E30;
border: inherit;
cursor: pointer;
}
.newcomer-button-text{
  color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.cards-title{
  color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}
.cards-img{
  width: 56px;
  height: 44px;
}
.cards-gold{
  color: rgba(255, 165, 55, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.php-gold{
  color: #FFA537;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.php-title{
  color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}
.cards-subtitle{
  color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
}
.php-subtitle{
  color: rgba(255, 255, 255, 0.78);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
}

.cards{
  width: 570px;
  height: 610px;
}
.zeplin{
  width: 280px;
  height: 285px;
}
.phpstorm{
  width: 280px;
  height: 285px;
}
.toolbox{
  width: 280px;
  height: 285px;
}
.procreate{
  width: 280px;
  height: 285px;
}

.slider{
  display: flex;
justify-content: space-between  ;
  align-items: center;
  
}

.slider-text{
  color: rgba(255, 255, 255, 0.78);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.21px;
}

.slider-main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.slider-svg{
  padding: 45px;
}
.join-main{
  padding: 150px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}
.join-title{
  color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
}
.join-subtitle{
  color: rgba(255, 255, 255, 0.55);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}
.join-texts{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.join-button-text{
  color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.input-boxx { 
  transform: translateX( -0.01px);
    width: 497.659px;
height: 64px;
    max-width: 900px;
    background: #283036;
    margin: 50px 25px;
    border-radius: 15px;
border: 1.5px solid rgba(255, 255, 255, 0.10);


    
  }
  .input-boxx .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
 
  .input-boxx input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 25px;
    background-color: transparent;
  }
  .input-boxx .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #FF6E30;;
    cursor: pointer;
    width: 130.435px;
height: 48px;
  }
  .input-boxx .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  .line{
    width: 1440px;
height: 0.5px;
background: rgba(102, 92, 92, 0);
  }
  .antools-text{
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .first-links-main{
    display: flex;
  }
  .first-links-sub{
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .first-links-last{
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; 
  }
  .first-links{
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .other-links{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .other-links-main-text{
    color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .footer-links{
    display: flex;
    justify-content:space-between;
  }
  .other-links-sub-li{
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }